$baseGreen: #4caf50;
$basefontcolor: #1c1a20;
$baseRed: #ff5252;
$fontcolor: #424141;
$placeholderColor: #b4b4b4;
$disabledColor: #6d726d;
$warnRed: #ff5252;
$header-height:3.75rem;
$tableBorder:#979797;
$tableFontBorder:#6B6B6B;
$basefontcolor2:#262e4f;